html {
  font-family: sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Archivo Black", sans-serif;
}

.color-brand {
  color: #cae8e4;
}

.color-brand-dark {
  color: #009889;
}

a {
  color: #009889;
}

a:hover {
  color: #009889;
}

.masthead {
  background-color: #009889;

  color: #fff;
}

.nav {
  position: relative;
  background-color: #cae8e4;
  z-index: 2;
}

.nav a {
  color: #000;
  text-decoration: none;
}

.nav-bottom a {
  color: #000;
  text-decoration: none;
  border-radius: .25em;
}

.nav a:hover {
  background-color: #fff;
  color: #01584f;
}

.nav a:focus {
  outline: 3px solid #01584f;
}

.banner {
  background-image: linear-gradient(to top, rgba(0, 152, 137, 0), rgba(0, 152, 137, .8)), url("../images/top-banner.jpg");
  background-size: 100% 100%, cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-bottom: solid 3px #009889;
  padding-top: 75%;
}

.banner h2, .banner p {
  color: #fff;
}

.read-more {
  color: #01584f;
}

.read-more:hover {
  color: #000;
}

.btn {
  background-color: #009889;
  border-color: #009889;
  color: #fff;
}

.btn:hover {
  background-color: #01584f;
  border-color: #01584f;
}

.btn-ghost {
  background-color: #cae8e4;
  border-color: #cae8e4;
  color: #01584f;
}

.btn-ghost:hover {
  background-color: #01584f;
  border-color: #01584f;
  color: #fff;
}

.form {
  border: solid 2px #009889;
  border-radius: .25em;
}

.footer {
  background-color: #cae8e4;
  color: #fff;
  border-top: solid 3px #009889;
}

.nav-bottom {
  position: relative;
  z-index: 2;
}

.nav-bottom a:hover {
  background-color: #fff;
  color: #009889;
}

.nav-bottom a:focus {
  outline: 3px solid #01584f;
}

.adoptable:hover {
  background-color: #cae8e4;
}

.adoptable:hover img {
  opacity: .3;
}

.hover-box-caption {
  z-index: -100;
  bottom: 0;
}

.hover-box:hover .hover-box-caption {
  bottom: 0;
  z-index: 100;
}

@media only screen and (min-width: 38em) {

  .banner {
    padding-top: 33.33%;
  }

}

@media only screen and (min-width: 38em) {

  header div img, header div h1 {
    display: inline;
  }

}
